.wishListContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9ebe3;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.919);
    border-radius: 5px;
  }
  