.wish-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .wish-list-header h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #ff3d3d;
    margin: 0;
  }
  
  .wish-list-header form {
    display: flex;
    align-items: center;
  }
  
  .wish-list-header input[type="text"] {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-right: 10px;
    width: 100%;
  }
  
  .wish-list-header button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background-color: #ff3d3d;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .wish-list-header button[type="submit"]:hover {
    background-color: #e49008;
  }
  